.vl {
	border-left: 6px solid white;
	height: 78vh;
	position: absolute;
	left: 50%;
	margin-left: -3px;
	top: 30%;
	border-end-start-radius: 10%;
}

.text-on-image-about {
	position: absolute;
	color: #fff;
	text-decoration: none;
	font-size: 2em;
	font-weight: bolder;
	width: 100%;
	top: 35%;
	/* height: 80vh; */
}
.text-on-image-1 {
	display: flex;
	justify-content: space-evenly;
	/* justify-content: space-between; */
	height: 35vh;
	text-align: center;
	/* width: 80%; */
}
.text-on-image-1 h2 {
	width: 80%;
}

.text-on-image-3 h2 {
	width: 80%;
}

.p1-1,
.p2-1,
.p3-1,
.p4-1 {
	margin-top: 4%;
	font-size: 24px;
}

.text-on-image-1 .p1 {
	font-size: 28px;
	text-align: center;
	width: 80%;
	margin-left: 7%;
	margin-top: 5%;
}

.text-on-image-1 .p2 {
	font-size: 28px;
	text-align: center;
	width: 80%;
	margin-left: 7%;
	margin-top: 5%;
}

.text-on-image-3 {
	display: flex;
	justify-content: space-evenly;
	height: 30vh;
	text-align: center;
}

.text-on-image-3 .p3 {
	font-size: 28px;
	text-align: center;
	width: 80%;
	margin-left: 7%;
	margin-top: 5%;
}

.text-on-image-3 .p4 {
	font-size: 28px;
	text-align: center;
	width: 80%;
	margin-left: 7%;
	margin-top: 5%;
}

@media screen and (max-width: 1284px) {
	.text-on-image-1 {
		display: flex;
		justify-content: space-evenly;
		height: 35vh;
		text-align: center;
	}
	.text-on-image-3 {
		display: flex;
		justify-content: space-evenly;
		height: 30vh;
		text-align: center;
	}

	.text-on-image-1 .p1 {
		font-size: 2vh;
		text-align: center;
	}
	.text-on-image-1 .p2 {
		font-size: 2vh;
		text-align: center;
	}
	.text-on-image-3 .p3 {
		font-size: 2vh;
		text-align: center;
	}

	.text-on-image-3 .p4 {
		font-size: 2vh;
		text-align: center;
	}

	.p1-1,
	.p2-1,
	.p3-1,
	.p4-1 {
		margin-top: 4%;
		font-size: 2vh;
	}
}

@media screen and (max-width: 1000px) {
	.vl {
		border-style: none;
	}
	.text-on-image-1 {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-content: center;
		margin-bottom: 4%;
		/* width: 100%; */
	}

	.text-on-image-3 {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		/* margin-top: 4%; */
		padding-top: 20%;
		/* width: 100%; */
	}

	.text-on-image-1 h2 {
		width: 100%;
		margin-bottom: 4%;
		font-size: 2rem;
	}

	.text-on-image-3 h2 {
		width: 100%;
		margin-bottom: 4%;
		margin-top: 2%;
		font-size: 2rem;
	}

	.text-on-image-1 .p1 {
		margin-top: 4%;
	}
	.text-on-image-1 .p2 {
		margin-top: 4%;
	}
	.text-on-image-3 .p3 {
		margin-top: 4%;
	}
	.text-on-image-3 .p4 {
		margin-top: 4%;
	}

	.p1-1,
	.p2-1,
	.p3-1,
	.p4-1 {
		margin-top: 2%;
		font-size: 2vh;
	}
}
