.text-on-image-culture {
	position: absolute;
	color: #fff;
	text-decoration: none;
	font-size: 2em;
	font-weight: bolder;
	width: 100%;
	top: 25%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

.face-container1,
.face-container2,
.face-container3,
.M6-company {
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 6%;
	position: relative;
}

.header-culture {
	font-size: 1em;
}

.face-wrap {
	display: flex;
	justify-content: center;
	width: 16%;
	height: 35vh;
}

.face,
.bulletin {
	border-radius: 10%;
}

.william-hover {
	position: absolute;
	height: 100%;
	width: 35vh;
	opacity: 0;
	transition: 0.5s ease;
	background-color: white;
	border-radius: 10%;
}

.text-on-hover {
	color: black;
	font-size: 22px;
	position: absolute;
	font-weight: bolder;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.face-wrap:hover .william-hover {
	opacity: 0.7;
}

.bulletin:hover {
	transition: all 0.3s ease-in;
	transform: scale(1.3);
}

@media screen and (max-width: 1000px) {
	/*화면 줄어들었을때 컬쳐 페이지 얼굴과 사진들*/
	.face,
	.bulletin {
		width: 50vh;
		height: 100%;
	}

	.face-container {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		margin-bottom: 6%;
	}
}

@media screen and (max-width: 960px) {
	.face-container1,
	.face-container2,
	.face-container3,
	.M6-company {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 0;
	}

	.face-wrap {
		margin-bottom: 4%;
	}

	.william-hover {
		height: 35vh;
	}
}
