.container {
}

.vl {
	border-left: 6px solid white;
	height: 78vh;
	position: absolute;
	left: 50%;
	margin-left: -3px;
	top: 30%;
	border-end-start-radius: 10%;
}
span {
	position: absolute;
}

.text-on-image {
	position: absolute;
	color: #fff;
	text-decoration: none;
	font-size: 2em;
	font-weight: bolder;
	width: 90%;
	top: 35%;
	/* height: 80vh; */
}
.text-on-image-1 {
	display: flex;
	/* justify-content: space-evenly; */
	justify-content: space-between;
	height: 35vh;
}

.text-on-image-2 {
	display: flex;
	flex-direction: row;
	/* justify-content: flex-end; */
	align-content: flex-start;
}

.text-on-image-3 {
	display: flex;
	/* justify-content: space-evenly; */
	justify-content: space-between;
	/* height: 30vh; */
}

.text-on-image-4 {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-content: flex-end;
}
