* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "HangeulNuri-Bold";
	scroll-behavior: smooth;
}
@font-face {
	font-family: "HangeulNuri-Bold";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

.about,
.culture,
.vision {
	display: flex;
	height: 100vh;
	align-items: flex-start;
	justify-content: center;
	font-size: 3rem;
}

.culture {
	background-image: url("/images/culture.png");
	/* background-color: black; */
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 5em;
	height: 210vh;
}

.vision {
	/* background-image: url("/images/neon.jpeg"); */
	/* background-image: url("/images/tunnel1.jpeg"); */
	/* background-image: url("/images/tunnel2.jpeg"); */
	background-image: url("/images/app.jpeg");

	/* background-color: black; */
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 5em;
}

.about {
	background-image: url("/images/culture.png");
	/* background-color: black; */
	/* background-position: center; */
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 5em;
	height: 120vh;
}
@media screen and (max-width: 1000px) {
	.about {
		background-position: bottom;
	}
	.culture {
		height: 440vh;
	}
}
