* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "HangeulNuri-Bold";
	scroll-behavior: smooth;
}
@font-face {
	font-family: "HangeulNuri-Bold";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

.about,
.culture,
.vision {
	display: flex;
	height: 100vh;
	align-items: flex-start;
	justify-content: center;
	font-size: 3rem;
}

.culture {
	background-image: url("/images/culture.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 4em;
	height: 250vh;
}

.vision {
	background-image: url("/images/diffuser.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 4em;
	height: 110vh;
}

.about {
	background-image: url("/images/culture.png");
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 4em;
	height: 120vh;
}

@media screen and (max-width: 1000px) {
	.about {
		background-position: bottom;
	}
	.culture {
		height: 520vh;
	}
}

@media screen and (max-width: 583px) {
	.about {
		height: 140vh;
	}
	.about,
	.culture,
	.vision {
		font-size: 3em;
	}
}
